extends layout.pug

block content
    script(src="/javascripts/admin-routes.js")
    h1 Rentals
    button.btn.btn-primary#allRentalsButton(type="button") All Rentals 
    
    table.table.table-striped#rentalsTable 
        thead 
            tr 
                th Rentee
                th Rental Equipment
                th Rental Start
                th Rental End
                th Rental Status
                th Course
                th Notes
        tbody 
            script. 
                fetchRentals()

                
    // Pagination buttons
    div.pagination-buttons
        button.btn.btn-primary#prevPageButton(type="button" disabled) Previous
        button.btn.btn-primary#nextPageButton(type="button") Next