extends layout.pug

block content
    // Contact information section
    .container.text-center
        h2 Contact Us
        p
            strong Email:
            |  <a href="mailto:ppittman@ramapo.edu">ppittman@ramapo.edu</a>
            br
            strong Phone: (201) 684-6853
            br
            strong Office: H-220 

        // Information about the cages
        h3 Cages Location and Hours
        p
            strong Location: 
            | Room H-117
            br
            strong Hours: 
            | Mon-Fri 9:30am - 4:00pm
