//- editEquipmentModal.pug
.modal.fade#editEquipmentModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title Edit Equipment
                button.close(type="button", onclick="closeEditEquipmentModal()", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                form#editEquipmentForm
                    input(type="hidden", id="editEquipmentId", name="equipment_id")
                    .form-group
                        label(for="editEquipmentName") Name:
                        input#editEquipmentName.form-control(type="text", required)
                    .form-group
                        label(for="editEquipmentQuantity") Quantity:
                        input#editEquipmentQuantity.form-control(type="number", required)
                    .form-group
                        label(for="editEquipmentAvailable") Available Quantity:
                        input#editEquipmentAvailable.form-control(type="number", required)
            .modal-footer
                button.btn.btn-secondary(type="button", onclick="closeEditEquipmentModal()") Close
                button.btn.btn-primary(type="button", onclick="saveEditEquipment()") Save
