extends layout.pug

block content
    // Text about the location
    .container.text-center
        h2 The Cage is located in H-117

    // Image section
    .container.text-center
        img(src='/images/cageLogo.jpg', alt='Your Logo', style='max-width: 100%; height: auto; margin-bottom: 20px;')

    
