extends layout.pug

block content
    script(src="/javascripts/main.js")
    // Logo section
    //.container.text-center
        img(src='/images/cageLogo.jpg', alt='Your Logo', style='max-width: 100%; height: auto; margin-bottom: 20px;')

    // Fullscreen video
    .container.text-center
        video(autoplay loop muted style='width: 100%; height: 100%; object-fit: cover;')
            source(src='/images/mediaCollision.mp4', type='video/mp4')

    // Row for the title
    .container
        .row.text-center.mb-4
            .col
                h1 RCNJ Film Student Spotlight

    // Row for the videos
    .container
        .row
            if videos.length
                each video in videos
                    .col-12.col-md-6.col-lg-4
                        a(href=video.url)
                            // Embed YouTube video with responsive aspect ratio
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src=`https://www.youtube.com/embed/${video.id}`, allowfullscreen="")
                            p= video.title
            else 
                p Check out our youtube channel!
                a(href="https://www.youtube.com/@RcnjArchTalk" target="_blank") Visit our YouTube channel for more videos.