extends layout.pug 

block content 
    .container 
        .row.text-center.mb-4
            .col
                h1 Rental was updated successfully
                // Buttons for redirecting
                a(href='/admin')
                    button.btn.btn-primary Go to dashboard
                a(href='/admin/rentals')
                    button.btn.btn-primary View Rentals