extends layout

block content
  // Add your navbar or other layout components here
  
  // Static under construction image
  img(src='/images/under-construction.png', class='resizable-image', alt='Under Construction')

  // Optionally, add a message indicating the page is under construction
  p This page is currently under construction. Please check back later.

