extends layout.pug

block content
    script(src="/javascripts/admin-routes.js")
    h1 All Users
    table.table.table-striped
        thead
            tr
                th First Name
                th Last Name
                th Email
                th Role
                th Actions
        tbody
            script. 
                loadUsers()
    