/* style.css */
.bg-maroon {
    background-color: #862632;
}

/* Add this CSS to your stylesheet */
.badge-secondary {
    color: #000; /* Set the text color to black */
}


ul#equipmentList {
    list-style-type: none;
    padding-left: 0;
}


.resizable-image {
    max-width: 75%; /* Limits the maximum width of the image to its container width */
    max-height: 75%; /* Limits the maximum height of the image to its container height */
}
